[Unit]
Description=Spotify Ad Muter
Documentation=https://github.com/Nickychemos/Spotify-Ad-Muter
After=pipewire-pulse.service pipewire.service pulseaudio.service
Wants=pipewire-pulse.service

[Service]
Type=simple
ExecStart=/usr/bin/spotify-ad-muter
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
